@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  --font-main: "Playfair Display";
  --font-secondary: "Montserrat";
  font-size: 10px;
}
.head-wrap {
  width: 70%;
  margin: 0 auto;
}
.head-wrap h1 {
  color: #000;
  font-family: var(--font-main);
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.head-wrap p {
  color: #707070;
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 60%;
}
.head-wrap .head-img-fig {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.head-wrap .head-img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.head-wrap .head-img:hover {
  scale: 1.15;
}

/* Main Stylling  */
.main-wrap {
  width: 70%;
  margin: 30px auto;
  margin-bottom: 100px;
  position: relative;
}
.main-wrap .title {
  color: #333;
  font-family: var(--font-main);
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.choice {
  margin-top: 30px;
}
.choice h2 {
  color: #333;
  font-family: var(--font-main);
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
}
.choice .check-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.choice .check-box .item {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 60%;
}
.choice .check-box .item label {
  color: #737373;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 25px;
}
.choice .check-box .item input {
  margin-top: 6px;
}
.choice .check-box .item label span {
  color: #333;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 700;
}
/* instractions  */
.instructions {
  margin-top: 30px;
}
.instructions > h1 {
  color: #333;
  font-family: var(--font-main);
  font-size: 2.4rem;
  font-weight: 700;
}
.instruction {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  width: 60%;
}
.instruction h1 {
  color: #fff;
  font-family: var(--font-main);
  font-size: 2.4rem;
  font-weight: 700;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2994a;
  border-radius: 4px;
}
.instruction p {
  color: #3f3f3f;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.instruction p span {
  color: #333333;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
}
.card {
  padding: 55px 50px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  right: 0;
}
.card .c-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.card .c-item p {
  color: #bdbdbd;
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.card .c-item h3 {
  color: #333;
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.card .c-item h3.orange {
  color: #f2994a;
}
footer {
  color: #828282;
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 50px;
}

/*Mobile View*/
@media screen and (max-width: 767px) {
  * {
    font-size: 7px;
  }
  .head-wrap {
    width: 95%;
    margin-top: 20px;
  }
  .main-wrap {
    width: 95%;
  }
  .choice .check-box .item {
    width: 100%;
  }
  .instruction {
    width: 100%;
  }
  .card {
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 5px;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
  }
}

/*Small devices (landscape phones, 577px and up)*/
@media screen and (min-width: 577px) and (max-width: 767px) {
}
